[Desktop Entry]
Encoding=UTF-8
GenericName=Addon to Estes POS
Name=Estescook
Exec=estescook
Icon=estescook.png
Terminal=false
Type=Application
Categories=Utility;Applications;
 
